/
/*   Basic tags & class
 *   ------------------
*/
.none     { display: none;}
.hidden   { visibility: hidden;}
.fl       { float: left !important;}
.fr       { float: right !important;}
.left     { text-align: left;}
.right    { text-align: right;}
.center   { text-align: center !important;}
.bold     { font-weight: bold;}
.italic   { font-style: italic;}
.nomargin { margin: 0 !important;}
img       { border: none;}
.frame {
    border: 1px solid #006600;
    padding: 3px;
    width: 180px;
	height: 200px:
    background-color:#E1FDD0;
    }
a         { outline-style: none; }
.clear        { display: block; clear: both; width: 100%; height: 0; line-height: 0; font-size: 0; }
html, body    { height: 100%; }
body          {
	letter-spacing: 0em;

	width: auto;
}

/* -- Links -- */
a, a:visited, a:active, a:link {  text-decoration: underline; outline: none; }
a:hover                        {  text-decoration: none; }

/* -- Title -- */
h1, h2, h3, h4, h5 { font-weight: normal; }
h1   { font-size: 2em; margin: 0 0 20px; }
h2   { font-size: 1.833em; margin: 0 0 15px; }
h3   { font-size: 1.667em; margin: 0 0 10px; }      
h4   { font-size: 1.333em; margin: 0 0 10px; }
h5   { font-size: 1.167em; margin: 0 0 5px; }

/* -- Images -- */
img, a img { border: none; }
.imgLeft { float: left; margin: 2px 10px 10px 0; }
.imgRight { float: right; margin: 2px 0 10px 10px; }

/* Font & color
 * ------------
 */
 
body { font: .750em Arial, sans-serif; }
input, textarea { font: 1em Arial, sans-serif;
 }
a span { cursor: pointer;}
h1, h2, h3, h4, h5 { color: #201917; }

table { font-size: 1em; }
#content, input, textarea, select { color: #404040;}
#footer p { font-size: .917em; }
.modal-window p, #content p { font-size: 1em; }

/*  Layout
 *  ------
 */
 
#main {
 	width: 100%;
	margin: 0 auto; padding: 0;
	text-align: left;
	position: relative;
 	
}
#header {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 60px;
	background-image: url(../img/blue/bg-header.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#content {
	position: relative;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 200px;
}
#sidebar {
	position:absolute;
	top:116px;
	width: 150px;
	padding-top: 0;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 10px;
}

#footer {
  margin: 20px; 
 	height: 20px;
}

/*  Header
 *  ------
 */

/* -- Logo -- */
#logo {
	position: absolute;
	top: -16px;
	left: 30px;
	width: 210px;
	height: 53px;
	float: left;
}
#logo a  { position: relative; display: block; width: 179px; height: 24px; line-height: 24px; font-weight: bold; font-size: 2em; color: #fff; text-decoration: none; }
#logo a span  {
	position: absolute;
	bottom: -3px;
	left: -2px;
	width: 179px;
	height: 40px;
	display: block;
	color: #fff;
	text-indent: -1000px;
	text-align: center;
	overflow: hidden;
	background: url(../img/bg-logo-login.png) 0 0 no-repeat;
}

/* -- User -- */
#user { position: absolute; top: 20px; right: 25px; color: #c6c6c6; }
#user h2 { display: block; margin: 0; font-size: 1.167em; color: #f8f8f8; font-weight: bold; }
#user h2 span { font-size: .833em; font-weight: normal; color: #e3e3e3; }
#user a { font-size: .917em; color: #e3e3e3; text-decoration: none; }

/*  Sidebar
 *  -------
 */

/* -- Mainmenu -- */		
ul#floatMenu            { position: absolute; top: 0; }
ul.mainmenu             {
	padding: 0;
	width: 180px;
	text-align: left;
	list-style: none;
	border: 1px solid #ccc;
	background-color: #F8F8F8;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-border-radius:6px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 30px;
	margin-left: 0;
}
ul.mainmenu li          { padding: 10px 20px; border-bottom:1px solid #dcdcdc; }
ul.mainmenu li.active   { background: #f0f0f0 url(../img/main-menu_active.gif) 0 14px no-repeat; }
ul.mainmenu li.first    { -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; -moz-border-radius-topleft: 6px; -moz-border-radius-topright: 6px; border-top-left-radius: 6px; border-top-right-radius: 6px; }
ul.mainmenu li.last     { border: none; -webkit-border-bottom-right-radius: 6px; -webkit-border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -moz-border-radius-bottomleft: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; }
ul.mainmenu li a        { padding: 0; margin:0; display:block; height:100%; text-decoration:none; color: #848484; font-size: 1.25em; font-weight: bold; }
ul.mainmenu li.active a { text-decoration:none; color: #201917; }
ul.mainmenu li a:hover  { color:#333; text-decoration:none; }  
ul.mainmenu li ul.submenu       { position: relative; top: 5px; margin: 0; padding: 0; }
ul.mainmenu li ul.submenu li    { margin: 0; padding: 5px 10px; border: none; background: none !important; }
ul.mainmenu li ul.submenu li a  { padding: 0; color: #404040; font-weight: normal; font-size: 1.083em; }
ul.mainmenu li ul.submenu li.active a { color: #404040; font-weight: bold; }
ul.mainmenu li ul.submenu li a:hover  { color: #404040; }

/*  Content
 *  -------
 */                                               

#content p { margin-bottom: 25px; line-height: 1.6em; }
#content strong  { color: #000; }
#content .highlight { font-size: 1.167em; color: #000; }

/* --  ul, ol list -- */
.list    { margin: 0 0 20px 10px; padding: 0; }
.list li { margin-bottom: 5px; line-height: 16px; font-size: 1em; color: #404040; }

.list-disc li   { padding-left: 15px; background: url(../img/list-disc.gif) 0 6px no-repeat; }
.list-square li { padding-left: 15px; background: url(../img/list-square.gif) 0 6px no-repeat; }
.list-dash li   { padding-left: 15px; background: url(../img/list-dash.gif) 0 6px no-repeat; }
.list-number li { margin-left: 20px; list-style: decimal; }

/* -- Cols layout -- */
.col1, .col2, .col3, .col4, .col5 { height: 100%; }

.cols { overflow: hidden; height: 100%; clear: both; }
.cols .col1 { float: left; }
.cols .col2 { float: left; }

.cols50 .col1,
.form-cols .col1 { float: left; width: 48%; }
.cols50 .col2,
.form-cols .col2 { float: right; width: 48%; }

.cols3 .col1,
.cols3 .col2,
.cols3 .col3 { width: 30%; margin-right: 4%; }
.cols3 .col3 { float: left; margin: 0; }

.cols4 .col1,
.cols4 .col2,
.cols4 .col3,
.cols4 .col4 { float: left; width: 22%; margin-right: 4%; }
.cols4 .col4 { margin-right: 0; }

.cols2v1 .col1 { width: 64%; margin-right: 4%; }
.cols2v1 .col2 { width: 31%; }

.cols1v2 .col1 { width: 31%; margin-right: 4%; }
.cols1v2 .col2 { width: 64%; }

/* -- Breadcrumbs -- */
.breadcrumbs { position: absolute; left: 2px; top: -48px; height: 20px; }
.breadcrumbs li { float: left; line-height: 30px; font-size: 1em; padding-left: 20px; background: url(../img/breadcrumb_arrow.gif) 2px 60% no-repeat; }
.breadcrumbs li a { float: left; padding: 0; color: #000; }
.breadcrumbs li.home { padding: 0; background: none; }

/* -- Box -- */
.box {
	margin-bottom: 20px;
	border: 1px solid #ccc;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 100%;
}
.box .headlines,
.box .bookmarks {
	height: 54px;
	text-align: center;
	background: 0 0 repeat-x;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0;
}
.box .headlines h2 {
	display: block;
	float: left;
	font-size: 1.5em;
	padding-right: 40px;
	height: 40px;
	line-height: 32px;
	margin-top: 7px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 5px;
}
.box .headlines h2 span { display: block; margin: 0; padding: 0 0 0 40px; height: 49px; background: no-repeat; }

.box .bookmarks li          { margin: 0 20px 0 20px; float: left;  height: 49px; }      
.box .bookmarks li a        { margin-top: 7px; float: left; display: block; height: 49px; line-height: 28px; color: #fff; text-decoration: none; }
.box .bookmarks li.ui-state-default a { font-size: 1.167em; }
.box .bookmarks li.ui-state-active    { display: block; float: left; padding-right: 40px; margin: 7px 0 0 5px; height: 49px; line-height: 32px; background: scroll top right; }
.box .bookmarks li.ui-state-active a  { display: block; margin: 0; padding: 0 0 0 40px; color: #000; font-size: 1.5em; height: 49px; background: no-repeat; }
.box .ui-tabs-hide { display: none !important; }

.box .headlines .show-filter { float: right; margin-right: 10px; color: #fff; line-height: 38px; }  
.box .headlines .help        { display: block; width: 24px; height: 24px; float: right; margin: 6px 10px 0 0; color: #fff; background: url(../img/help.png) 0 0 no-repeat; }

.box .box-content {
	overflow: auto;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.box .toolbar {
	overflow: hidden;
	background-image:url(../img/mnbg.jpg);
	background-repeat:repeat-x;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: 38px;
}
.box .toolbaractions {
	overflow: hidden;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: 38px;
}
.box-cols           { overflow: hidden; }
.box-cols .box-col  { width: 48%; float: left; }
.box-cols .box-last { float: right; }

/*td {
	font-size:14px;
	}*/
/* -- Table  -- */
/*.tab { width: 100%; margin-bottom: 20px; border-collapse: collapse; }
.tab th, .tab td { padding: 8px 12px; text-align: left; font-size: 1em; border-bottom: 1px solid #e3e3e3; background: transparent; }
.tab th { color: #052b4d; border-bottom: 2px solid #e3e3e3; background: #fff; }
.tab th.action { border-right: 0;}
.tab th.checkbox, .tab td.checkbox { padding: 8px 2px;width: 20px; }
.tab td.action, .tab th.action { width: 35px; text-align: right; }
.tab td.action a.ico { float: right; }

.tab tr.odd   { background: #f8f8f8; }
.tab tr:hover { background: #efefef; }

.tab th.dragHandle  { padding: 0; width: 10px; }
.tab td.dragHandle  { padding: 0; width: 10px; cursor: move; background: url(../img/dragHandle.png) 2px 2px no-repeat;} 

.tab td a { text-decoration: none; }

/* -- Ico -- */
a.ico         { display: block; float: left; width: 10px; height: 10px; margin: 3px 4px 0; overflow: hidden; text-indent: 20px; background-position: 0 -10px; }
a:hover.ico   { background-position: 0 0; }
.ico-edit     { background: url('../img/edit.gif') no-repeat; }
.ico-delete   { background: url('../img/delete.gif') no-repeat; }

/* -- Btn-default -- */
.btn-default          { display: block; width: 99px; text-align: center; height: 26px; line-height: 26px; color: #fff; font-weight: bold; text-decoration: none !important; }

/* -- Pagination -- */
/*.pagination                 { text-align: right; margin: 0 20px 20px 0; overflow: hidden; }
.pagination p               { float: right; margin: 2px 10px 0 0 !important; }
.pagination ul              { float: right; }
.pagination ul li           { display: inline; margin: 0 4px; float: left; }
.pagination ul li a         { display: block; float: left; height: 17px; padding-top: 3px; color: #363636 !important; text-decoration: none; font-weight: bold; font-size: 1em; vertical-align: middle; }
.pagination ul li.graphic a { width: 20px; overflow: hidden; border: 1px solid #E3E3E3; -webkit-border-radius: 5px; border-radius: 5px;  -moz-border-radius: 5px; }
.pagination ul li.graphic a:hover { border-color: #ccc; }
.pagination ul li.first a   { background: url(../img/bg-first.gif) 0 0 no-repeat; }   
.pagination ul li.prev a    { background: url(../img/bg-prev.gif) 0 0 no-repeat; margin-right: 8px; }
.pagination ul li.next a    { background: url(../img/bg-next.gif) 0 0 no-repeat; margin-left: 8px; }                                
.pagination ul li.last a    { background: url(../img/bg-last.gif) 0 0 no-repeat; }
*/
/* -- Tab action -- */
/*.tab-action { float: left; width: auto; margin-left: 20px; }
.tab-action .select { width: 150px; float: left; padding: 4px; border: none; margin: 0 10px 0 0; background: transparent; border: 1px solid #E3E3E3; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.filter .submit,
.tab-action .submit { margin-top: 2px; padding: 3px 7px; color: #000; cursor: pointer; background: url(../img/bg-input-submit.gif) repeat-x 0 0; border: 1px solid #BBBBBB; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }


.filter { display: none; padding: 0 20px 15px; margin: 0 0 10px; text-align: left; border-bottom: 1px solid #e3e3e3;  }
.filter .input { padding: 4px 5px; margin: 0 10px 3px 0; border: 1px #dadada solid; background: url(../img/bg-input.gif) repeat-x; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
*/
/* -- Gallery -- */
.gallery       { overflow: hidden; }
.gallery .item { float: left; width: 150px; height: 170px; margin: 0 20px 20px 0; overflow: hidden; }
.gallery .item .thumb { height: 150px; padding-bottom: 12px; background: url(../img/img-shadow.png) center 100% no-repeat; }
.gallery .item .tools { display: none; margin: -5px auto 0; width: 40px; height: 18px; }

/* -- FormBox -- */
.formBox                  { position: relative; padding-bottom: 20px; }
.formBox fieldset         { padding: 0; margin: 0; border: none !important; }
.formBox .clearfix        { overflow: hidden; width: 100%; padding-bottom: 15px; }
.formBox .form-cols       { overflow: hidden; }
.formBox .col1 .lab,
.formBox .col2 .lab       { width: 28% !important; }
.formBox .col1 .con,
.formBox .col2 .con       { width: 69% !important; position: relative; }
.formBox .lab             { width: 12%; float: left; font-weight: bold; color: #1a2e4d; padding: 5px 2% 0 0; }
.formBox .lab span        { color: #CD0B1C; }
.formBox .con             { width: 85%; float:left; position:relative; border: 1px solid #dadada; background: url(../img/bg-input.gif) 0 0 repeat-x; -webkit-border-radius: 5px; border-radius: 5px;  -moz-border-radius: 5px; }
.formBox .con
.formBox .file .con,
.formBox .checkbox .con   { background: none; border: none; }
.formBox .select, 
.formBox .input ,
.formBox .textarea   { width: 170px; height:25px; float:left; position:relative; border: 1px solid #dadada; background: url(../img/bg-input.gif) 0 0 repeat-x; -webkit-border-radius: 5px; border-radius: 5px;  -moz-border-radius: 5px; }
.formbox .textarea:required:focus { 
	background-image:url(../img/warning.gif);
    background-position: right center;
    background-repeat: no-repeat;
	}
.formbox .textarea:required:valid { 
	background-image:url(../img/correct.gif);
    background-position: right center;
    background-repeat: no-repeat;
	}

.formbox .input[placeholder] {
font-size:12px;
}
    
.formbox .input:required {
background-image:url(../../../../img/required-field1.png);
background-position:top right;
background-repeat:no-repeat;
padding-right:10px;
}

.formbox .tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
 
    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}
/*.formbox .input:required:valid { 
	background-image:url(../img/correct.gif);
    background-position: right center;
    background-repeat: no-repeat;
	}
.formbox .input:required:invalid {
	border-color:#CC3300;
	border-collapse:inherit;
    	}
.formbox .select:required:invalid {
	border-color:#CC3300;
    	}		
.formbox .texarea:required:invalid {
	border-color:#CC3300;
    	}			*/
.formBox .textarea        { height: 90px; }

.formBox .file .upload-file    { width: 300px !important; float: left; padding: 4px 0; border: none; margin: 2px 0; border: 1px solid #dadada; background: url(../img/bg-input.gif) 0 0 repeat-x; -webkit-border-radius: 5px; border-radius: 5px;  -moz-border-radius: 5px;  }
.formBox .file .button-upload  { position: absolute; left: 310px; width: 99px; height: 29px; overflow: hidden;  background: url("../img/choose-file.gif") no-repeat scroll right center;  }
.subhead {
	color: #006600;
	font-weight: bold;
}

.formBox .textarea-wysiwyg .con    { background-position: 0 27px; }


/*.formBox input:focus.input,
.formBox textarea:focus.textarea,
.formBox select:focus.select { color: #000;
	background-image: url(../img/warning.gif);
    background-position: right center;
    background-repeat: no-repeat; }*/
	
.formbox label {
background:none no-repeat left 50%;
line-height: 25px;
padding: 0 0 0 20px;
width: auto;
}	

.formbox label[for="male"] {
background-image:url(../img/male.png);
}
.formbox label[for="female"] {
background-image:url(../img/female.png);
}
.formBox .error .con    { border: 1px solid #f5b6a3; background-image: url(../img/bg-input-error.gif); }

.formBox .btn-submit      { border-top: 1px solid #e3e3e3; padding: 15px 0 0 15%; }
.formBox .button          { margin-right: 3px; width: 99px; height: 26px; color: #fff; font-weight: bold; cursor: pointer; border: none;}

/* -- Form message -- */
.form-message          { display: block; padding: 10px 20px 10px 35px; margin-bottom: 20px; border: 1px solid; -webkit-border-radius: 6px; border-radius: 6px; -moz-border-radius: 6px; }
.form-message.correct  { border-color: #a8f383; background: #e4ffd4 url(../img/correct.gif) 10px 11px no-repeat; }
.form-message.error    { border-color: #f3a48c; background: #ffded4 url(../img/error.gif) 10px 11px no-repeat; }
.form-message.warning  { border-color: #fbea81; background: #fff9d4 url(../img/warning.gif) 10px 11px no-repeat; }

		.form-message p        { margin: 0 !important; }
.form-message ul       { margin: 5px 0 0 20px; padding: 0; }
.form-message ul li    { margin: 0; padding: 0; list-style: disc; font-size: 1em; line-height: 1.6em; }


/*  Footer
 *  ------
 */

/* -- Footer -- */
#footer a { color: #363636; text-decoration: none; }
#footer p { text-align: center; margin: 0 10px; color: #848484; }

/*  Modal Window
 *  ------------
 */

/* -- Modal -- */
#main #modal,
#main #help     { display: none; }
.modal-window	  { width: 500px; }
.modal-window p { margin-bottom: 25px; line-height: 1.6em; }
.modal-window .list    { margin: 0 0 20px 10px; padding: 0; }
.modal-window .list li { margin-bottom: 5px; line-height: 16px; font-size: 1em; color: #404040; }

.modal-window .list-disc li   { padding-left: 15px; background: url(../img/list-disc.gif) 0 6px no-repeat; }
.modal-window .list-square li { padding-left: 15px; background: url(../img/list-square.gif) 0 6px no-repeat; }
.modal-window .list-dash li   { padding-left: 15px; background: url(../img/list-dash.gif) 0 6px no-repeat; }
.modal-window .list-number li { margin-left: 20px; list-style: decimal; }

.box .headlines h2 { background-image: url(../img/bg-bookmark.gif); }
.box .headlines h2 span {
	background-image: url(../img/bg-bookmark.gif);
}

.box .bookmarks { background-image: url(../img/bg-headlines.gif); }
.box .bookmarks li.ui-state-active   { background-image: url(../img/bg-bookmark.gif); }
.box .bookmarks li.ui-state-active a { background-image: url(../img/bg-bookmark.gif); }

.formBox .button,
.btn-default { background: url(../img/bg-button.gif); }

a { color: #1f499f; }
.pagination ul li.active a  { color: #1f499f !important; }

/*table.jCalendar th,
div.dp-popup h2,
table.jCalendar td.selected:hover,
table.jCalendar td:hover,table.jCalendar td.dp-hover { color: #1f499f !important; }

table.jCalendar td.selected { background: #1f499f; }
table.jCalendar td.today { background-color: #dcecf2; }
*/

/*.divframe {border:1px solid #003399;}
.divframe h2 {background:#003399;color:white;padding:8px;}
.divframe p {color:#333;padding:5px;}

.divframe{
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}*/

#nav-menu ul {
list-style-type: none;
background-image: url(navi_bg.png);
height: 38px;
width: auto;
margin: auto;
}
#nav-menu li {
float: left;
}
#nav-menu ul a {
	background-image:url(../img/navi_bg_divider.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 32px;
	padding-left: 32px;
	display: block;
	line-height: 38px;
	text-decoration: none;
	
	font-size: 12px;
	color: #006600;
}
#nav-menu ul a:hover {
	color:#009900;
}
s
